<h1>Tapes#update</h1>
<p>Find me in app/views/tapes/update.html.erb</p>

</br>
<hr />
<%= @message %>
<hr />

<p><%= link_to('Back to Tapes list', {:controller => 'tapes', :action => 'index'})%>

<hr />
<hr />
Params.inspect = </br>
<%= params.inspect %>
<hr />
@tape.inspect = </br>
<%= @tape.inspect%>