<title>Φόρμα εισαγωγής στοιχείων</title>
<h1>Multiply#index</h1>
<p>Find me in app/views/multiply/index.html.erb</p>

<%= link_to "Home", root_path %>

<%= render(:partial => "form") %>
<hr>

<p>Υπολογιστής Clash Royale</p>
<%= render(:partial => "form_clash") %>
